/* .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
} */

/* Header.css */

.navbar {
  position: relative;
  width: 100%;
  color: #fff;
  transition: all 0.3s;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.dropdown {
  position: relative;
  transition: all 0.3s;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  transition: all 0.3s;
}

.dropdown-content.block {
  display: flex;
}

.ul {
  list-style: none;
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
}

.menu-horizontal li:last-child {
  margin-left: auto;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
}

.menu a:hover {
  color: #e6aa3b;
}
